* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	/* height: 100%; */
	height: 100vh;
	display: flex;
}

.hidden {
	display: none !important;
}

.collapsed {
	width: 80px;
}

/* SIDEBAR NAVIGATION STYLES */

.sidebar {
	width: 15.625rem;
	height: 100%;
	background-color: #f6f6f6;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #e5e7eb;
	display: flex;
	flex-direction: column;
	/* gap: 2.5rem; */
	justify-content: space-between;
}

.icon-sidebar {
	width: 80px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: #f6f6f6;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #e5e7eb;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.top-icon {
	padding: 0 1rem;
}

.lower-icon {
	padding: 0 1rem;
}

.logo {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-icon {
	margin-left: 10px;
	margin-right: auto;
	cursor: pointer;
	color: #7c3aed;
	font-size: 1.5rem;
}

.logo-text {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 700;
	display: flex;
}

.logo-craft {
	color: #7c3aed;
}

.logo-connect {
	color: #10b981;
}

.nav {
	flex: 1;
	padding: 0 1rem;
}

.bottom-nav {
	padding: 0 1rem;
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 10px 12px;
	color: #374151;
	text-decoration: none;
	border-radius: 0.625rem;
	margin-bottom: 0.625rem;
	transition: background-color 0.2s;
	position: relative;
}

.nav-item:hover {
	background-color: #7c3aed;
	color: #10b981;
}

.nav-item.active {
	background: #1b1b1b;
	color: #ffffff;
	font-weight: 500;
}

.notification-dot {
	position: absolute;
	right: 12px;
	width: 8px;
	height: 8px;
	background-color: #ef4444;
	border-radius: 50%;
}

/* MAIN CONTENT STYLES */

.main-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #f6f6f6;
	overflow-y: auto;
}

/* HEADER STYLES */

.main-header {
	background: white;
	border-bottom: 1px solid #e5e7eb;
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* margin-bottom: 1.5rem; */
}

.header-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: #111827;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-right i {
	width: 1.25rem;
	height: 1.25rem;
	font-size: 1.125rem;
	cursor: pointer;
	color: #9ca3af;
}

.header-right .date {
	font-size: 0.875rem;
	color: #6b7280;
}

.avatar {
	width: 2rem;
	height: 2rem;
	background-color: #7c3aed;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 0.875rem;
	font-weight: 500;
}

/* Filters */
.filters {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: 1rem 0;
	border: 1px dashed #e5e7eb;
	padding: 1rem 1.5rem;
}

.filters span {
	font-size: 0.875rem;
	color: #111827;
}

.pill {
	padding: 0.375rem 1rem;
	font-size: 0.8125rem;
	border: 1px dashed #e5e7eb;
	border-radius: 0.375rem;
	background: transparent;
	cursor: pointer;
}

.pill:hover {
	border: 1px dashed #19c37d;
}

.pill.active {
	background: #19c37d;
	color: #ffffff;
	border-style: solid;
	border-color: #19c37d;
}

/* CARDS SECTION STYLES */

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 24px;
	margin: 0 1rem;
}

.card {
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 18px 16px 14px;
	position: relative;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-height: 180px;
}

.card:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

.info {
	display: flex;
	align-items: center;
	gap: 12px;
}

.name {
	font-stretch: expanded;
	color: #111827;
}

.date {
	font-size: 0.625rem;
	color: #6b7280;
}

.card .status-chip {
	width: 5rem;
	font-size: 0.625rem;
	font-weight: 600;
	padding: 0.125rem 0.5rem;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
}

.pending .status-chip {
	background: #ffd1ba;
}
.inprogress .status-chip {
	background: #34d399;
}
.completed .status-chip {
	background: #6fa8ff;
}
.declined .status-chip {
	background: #f87171;
}

.card-body {
	font-size: 0.625rem;
	color: #6b7280;
	line-height: 1.4;
}

.card-body span {
	display: block;
}

.card-body span b {
	color: #111827;
	font-weight: 600;
}

.card-actions {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.btn {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid #e5e7eb;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}

.primary {
	background: #7c3aed;
	color: #ffffff;
	border-color: #7c3aed;
}

/* Responsive */
@media (max-width: 768px) {
	.sidebar {
		width: 250px;
        z-index: 1000;
	}

	/* .logo-text {
		display: none;
	}

	.nav-item span {
		display: none;
	} */

	.card {
		grid-template-columns: 1fr;
	}

	.filters {
		flex-wrap: wrap;
	}

	.header-right i {
		display: none;
	}
	/* .header-right i,
	.date {
		display: none;
	} */
}

@media (max-width: 530px) {
	.sidebar {
		width: 100%;
        z-index: 1000;
	}
}

@media (max-width: 350px) {
	.sidebar {
		width: 100%;
        z-index: 1000;
	}

	.cards {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}
